<div class="featured-products col-md-12 col-xs-12">
    <% @featured_products.each do |featured_product| %>
      <div class='col-md-3'>
        <% product = featured_product.product %>
        <%= link_to small_image(product, itemprop: 'image'), product, itemprop: 'url' %>
          <p>
            <%= product.name %>
          </p>
      </div>
    <% end %>
</div>
